
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --orange: orange;
    --green: green;
    --black: #130f40;
    --light-color:#666;
    --blue: blue;
   
    --border:2rem solid rgba rgba(0,0,0.1);
    --outline:.1rem solid rgba(0,0,0.1);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}




*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
text-decoration: none;

}

html{
    font-size: 63%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;


}
body{
    background: #eee;
}



/*css code for home*/
section{
    padding: 2rem 9%;

}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);

}
.heading span{
    background: var(--green);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0,93% 50%,100% 99%, 0% 100%,7% 50%,0% 0%);
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
    
}
.header a{
    font-size: 2rem;
}



.header .navbar a{
    font-size: 1.7rem;
    margin: 0 4rem;
    color: var(--black);
}
.header .navbar a:hover{
    color: var(--orange);
}

.header .icons div{
    border: 0px solid;
    height: 4rem;
    width: 4rem;
line-height: 4.5rem;
border-radius: .3rem;
background: #eee;
color: var(--black);
font-size: 1.7rem;
margin-right: 1.5rem;
text-align: center;
cursor: pointer;

}
.header .icons div:hover
{
background-color: var(--orange);
color: white;
}

#menu-btn{
    display: none;
}
.header .search-form{
    border: 0px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    width: 40rem;
    height: 4.5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header .search-form .active{
    right: 5rem;
    transition: .4s linear;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.5rem;
    color: black;
    padding: 0 1.5rem;
}
.header .search-form label{
    font-size: 2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .search-form label:hover{
    color: var(--blue);
}

.btn{
    border: .2rem solid var(--black);
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 1rem;
    font-size: 1rem;
    border-radius: .2rem;
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--blue);
    color: #fff;
}
.login-form{
border: 1px solid;
position: absolute;
width: 30rem;
top: 110%;
right: -110%;
box-shadow: var(--box-shadow);
padding: 2rem;
border-radius: .5rem;
background: #fff;
text-align: center;
}

.login-form.active{
    right: 2rem;
    transition: .4s linear;
}
.login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box{
    width: 100%;
    border: 0px solid;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--black);
    text-transform: none;


}
.header .login-form p{
    font-size: 1.4rem;
    padding: .5rem 0;
    
}
.header .login-form p a{
    font-size: 1.4rem;
    padding: .5rem 0;
    text-decoration: underline;
}




/*Features*/
.Features .box-container{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;


}
.Features .box-container .box
{
    border: 0px solid red;
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}
.Features .box-container .box:hover
{
    box-shadow: 1px 1px 10px 3px  var(--green);
}


.Features .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}
.Features .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--black);
    
}
    


/*Features*/

/*products*/

.Product .product-slider{
    border: 0px solid;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 3rem;

}
.Product .product-slider:first-child
    {
margin-bottom: 2rem;
    }
    .Product .product-slider .box{
        border: 0px solid red;
        background: #fff;
        border-radius: .5rem;
        text-align: center;
        padding: 3rem 2rem;
        outline-offset: -1rem;
        outline: var(--outline);
        box-shadow: var(--box-shadow);
        transition: .2sec linear;
        margin: 1.5rem;
    
        
    }
.Product .product-slider .box:hover{
    box-shadow: 1px 1px 10px 3px  var(--green);
}

.Product .product-slider .box img{
    height: 30rem;
    
    

}

.Product .product-slider .box h1{
    font-size: 2.5rem;
    color: var(--black);
}

.Product .product-slider .box .price{
    font-size: 1.5rem;
    color: var(--black);
    padding: .5rem 0;

}

.Product .product-slider .box .stars i{
    font-size: 1rem;
    color: var(--orange);
  padding: .5rem 0;
}
/*products */


/*review*/

.Review .review-slider {
    border: 0px solid;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 3rem;

}

.Review .review-slider:first-child
    {
margin-bottom: 2rem;
    }
    .Review .review-slider .box{
        border: 0px solid red;
        background: #fff;
        border-radius: .5rem;
        text-align: center;
        padding: 3rem 2rem;
        outline-offset: -1rem;
        outline: var(--outline);
        box-shadow: var(--box-shadow);
        transition: .2sec linear;
        margin: 1.5rem;
    
        
    }
.Review .review-slider .box:hover{
    box-shadow: 1px 1px 10px 3px  var(--green);
}

.Review .review-slider .box img{
    height: 15rem;
    
    

}

.Review .review-slider .box h3{
    font-size: 1.5rem;
    color: var(--black);
}

.Review .review-slider .box p{
    font-size: 1.5rem;
}

.Review .review-slider .box .stars i{
    font-size: 1rem;
    color: var(--orange);
  padding: .5rem 0;
}
/*review*/

/*footer*/
.footer{
    background: #fff;
}
.footer .box-container{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;

}
.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box h3 i{
    color: var(--green);

}


.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: var(--black);
    padding: 1rem 0;
}


.footer .box-container .box .links:hover i{
    padding: 1rem;
}

.footer .box-container .box .links i{
    color: var(--black);
    padding-right: .5rem;
}

.footer .box-container .box p{
    line-height: 1.8rem;
    font-size: 1.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box .share a{
    border: 0px solid;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 2rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .5rem;
    background-color: #eee;
    text-align: center;
    padding: .5rem;

}

.footer .box-container .box .share a:hover{
    background:var(--green);
    color: #ffff;
}


.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--border);
}

.footer .credit span{
color: var(--blue);
}

/*footer*/















/*media queries */
@media (max-width: 991px)
{
    html
    {
        font-size: 55%;
    }
    .header{
        padding: 1.5rem;
    }
    section{
        padding: 2rem;
    }
}


@media (max-width:768)
{
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 110%;
        right: 2rem;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }
}
@media (max-width: 450px)
{
    html
    {
        font-size: 50%;
    }
}


.Home{
    border: 0px solid;
    display: flex;
    justify-content: center;
    
    background: url(fruitss.png) no-repeat;

    background-position:center ;
    background-size: 147rem;
    
    padding-top: 15rem;
    padding-bottom: 7rem;


}

.Home .content{
    border: 0px solid;
    text-align: center;
    width: 60rem;

}

.Home .content h3{
    color: var(--black);
    font-size: 3rem;
}
.Home .content h3 span{
    color: var(--green);
    
}
.Home .content p{
    color: var(--black);
    font-size: 1.5rem;
padding: 1rem;
}